body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f7fb;
}

header,
main,
footer {
  max-width: 640px;
  margin: 1rem auto;
  padding: 1.25rem;
  border: 1px solid rgba(0, 0, 0, 0.15);
  background-color: #e3efff;
  border-radius: 6px;
}

main {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1rem;
}

section {
  padding: 1rem;
  background-color: #ffffff;
}